---
type NavItem = { navLabel: string; href: string };

interface DesktopNavProps {
  links: NavItem[];
}

const { links } = Astro.props as DesktopNavProps;
---

<ul class="flex gap-x-12">
  {
    links.map(({ navLabel, href }) => (
      <li>
        <a href={href} class="text-sm font-semibold">
          {navLabel}
        </a>
      </li>
    ))
  }
</ul>
