---
import type { NavItem } from "../../types/nav";

interface DesktopNavProps {
  links: NavItem[];
}

const { links } = Astro.props as DesktopNavProps;
---

<ul class="flex gap-x-12">
  {
    links.map(({ navLabel, href }) => (
      <li>
        <a
          href={href}
          class="
            inline-block  
            text-sm font-semibold 
            transition duration-200  
            hover:text-gray-500 hover:scale-105"
        >
          {navLabel}
        </a>
      </li>
    ))
  }
</ul>
