---
import type { NavItem } from "../../types/nav";

interface MobileMenuNavProps {
	links: NavItem[];
}

const { links } = Astro.props as MobileMenuNavProps;
---

<nav aria-label="Mobile menu" class="space-y-2 py-6">
  {
    links.map(({ navLabel, href }) => (
      <a
        href={href}
        class="
          block
          px-3 py-2 
          font-semibold
          rounded-lg   
          transition-colors duration-200
          hover:bg-gray-300 hover:text-gray-800"
        data-mobile-link
      >
        {navLabel}
      </a>
    ))
  }
</nav>
