---
import type { NavItem } from "../../types/nav";
interface MobileMenuNavProps {
  links: NavItem[];
}

const { links } = Astro.props as MobileMenuNavProps;
---

<nav aria-label="Mobile menu" class="space-y-2 py-6">
  {
    links.map(({ navLabel, href }) => (
      <a
        href={href}
        class="block rounded-lg px-3 py-2 font-semibold transition-colors hover:bg-accentHover duration-200"
        data-mobile-link
      >
        {navLabel}
      </a>
    ))
  }
</nav>
